fastapi
uvicorn
python-multipart
pandas
presidio-analyzer
presidio-anonymizer
faker
spacy
presidio-analyzer
presidio-anonymizer
pdf-redactor
openai-whisper
ffmpeg-python
opencv-python-headless
numpy
imageio-ffmpeg
mediapipe
supabase
